.hero{
    background-color: var(--bg-secondary);
    /* width: 100%; */
   
    padding:3rem 3rem;
     margin-top: 2rem;

}
.himage{
    display: flex;
    height: 41vh;
    /* background-color: aqua; */
    gap: 3rem;
    background-size: contain;
    background-repeat: no-repeat;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    border-radius: 2rem;
    padding-left: 3rem;
    background-image: url("../../assets/banner-bg.jpg");
}
.himage h3{
    
    font-size: 2rem;
    color: white;

}
.himage h1{
    width: 25rem;
    font-size: 3rem;
    color: white;

}
.himage h1 span{
    
    font-size: 3rem;
    color: var(--active);
   text-transform: uppercase;
}
.himage button {
    padding: 10px;
    font-size: 1rem;
    background-color: var(--active);
    color: white;
    border-radius: 17px;
    border: none;
    outline: none;
}